<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   <!--Primary Alert-->
   <div class="alert alert-primary">
    A primary alert example with a text link.
    <a class="alert-primary-link alert-link">Check it out!</a>
  </div>
  <!--Primary Alert-->

  <!--Secondary Alert-->
  <div class="alert alert-secondary">
    A secondary alert example!!!!
  </div>
  <!--Secondary Alert-->

  <!--Success Alert -->
  <div class="alert alert-success">A success alert example!!!!</div>
  <!--Success Alert-->

  <!--Danger Alert -->
  <div class="alert alert-danger">A danger alert example!!!!</div>
  <!--Danger Alert-->

  <!--Warning Alert -->
  <div class="alert alert-warning">A warning alert example!!!!</div>
  <!--Warning Alert-->
</div>



    </div>
</body>
</html>